<div class="list-group">
  <%= link_to new_feed_path, data: {behavior: "modal"}, class: "list-group-item list-group-item-info" do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Feed
  <% end %>
  <%= link_to feeds_path, class: "list-group-item  #{active?('all')}" do %>
    <span class="badge">
      <%= Feed.count %>
    </span>
    all
  <% end %>
  <% ActsAsTaggableOn::Tag.most_used.each do |tag| %>
    <%= link_to tag_feeds_path(tag.name), class: "list-group-item #{active?(tag.name)}" do %>
      <span class="badge">
        <%= tag.taggings_count %>
      </span>
      <%= tag.name %>
    <% end %>
  <% end %>
</div>
