<%= content_for :navbar do %>
  <%= render 'search', locals: {path: 'feeds_path'} %>
  <%= render 'calendar', locals: {disabled?: true} %>
<% end %>

<%= content_for :sidebar do %>
  <%= render 'tag_filters', locals: {path: 'feeds_path'} %>
<% end %>

<div class="table-responsive" id="feeds-list">
  <table class="table table-hover">
    <tr>
      <%= content_tag_for(:tr, @feeds) do |feed| %>
      <td>
        <% if feed.favicon %>
        <%= image_tag feed.favicon, height: '16pt', alt: 'favicon' %>
        <% end %>
      </td>
      <td>
        <%= link_to raw(feed.name), items_path(feed: feed) %>
      </td>
      <td class='edit'>
        <%= link_to edit_feed_path(feed), data: {behavior: "modal"} do %>
        <span class="glyphicon glyphicon-cog"></span>
        <% end %>
      </td>
      <td class="destroy">
        <%= link_to feed, method: :delete, data: {confirm: 'Are you sure?'} do %>
        <span class="glyphicon glyphicon-trash"></span>
        <% end %>
      </td>
      <% end %>
    </tr>
  </table>
</div>
