<div class="page-header">
  <h1>Listing items</h1>
</div>

<%= content_tag_for(:ul, @items, class: 'media-list panel panel-default') do |item| %>
  <li class="media panel-body">
    <div class="media-left">
      <% if item.feed.favicon %>
        <%= link_to (image_tag item.feed.favicon, class: 'media-object', alt: 'favicon'), item.feed %>
      <% end %>
    </div>
    <div class="media-body">
      <h4 class="media-heading item-title">
        <%= link_to item.name, item, data: {behavior: "modal"} %>
      </h4>
      <h6 class="media-heading item-date">
        <%= date item.published_at %>
      </h6>
      <div class="item-summary">
        <%= sanitize item.summary %>
      </div>
    </div>
  </li>
<% end %>
