<%= content_for :navbar_filters do %>
  <%= render 'application/search', locals: {path: 'items_path'} %>
  <%= render 'application/calendar', locals: {disabled?: false} %>
<% end %>

<%= content_for :sidebar_filters do %>
  <%= render 'application/interaction_filters' %>
  <%= render 'application/tag_filters', locals: {path: 'items_path'} %>
<% end %>

<%= content_tag_for(:ul, @items, class: 'media-list panel panel-default') do |item| %>
<li class="media panel-body">
  <div class="media-left">
    <% if item.feed && item.feed.favicon %>
      <%= link_to item.feed do %>
        <%= image_tag item.feed.favicon, class: 'media-object', height: '24pt', alt: 'favicon' %>
      <% end %>
    <% end %>
  </div>
  <div class="media-body" id="item<%= item.id %>">
    <h4 class="media-heading item-title">
      <%= raw(item.name) %>
    </h4>
    <div>
      <ul class="nav nav-pills">
        <li>
          <h5 class="item-date"><%= default_date_format item.published_at %></h5>
        </li>
        <ul class="nav navbar-nav navbar-right col-md-4">
          <li><%= interaction_icon(:favourite, 'star', current_user, item) %></li>
          <!--li>
            <a href="#" class="share">
              <span class="glyphicon glyphicon-retweet interaction"></span>
            </a>
          </li -->
          <li><%= interaction_icon(:bookmark, 'bookmark', current_user, item) %></li>
        </ul>
      </ul>
    </div>
    <div class="item">
      <% if item.image %>
        <%= image_tag item.image, width: '50%', class: 'item-img img-thumbnail', align: 'left' %>
      <% end %>
      <div class="item-summary">
        <%= sanitize item.summary %>
      </div>
    </div>
    <br/>
    <div class="btn-group" role="group">
      <%= link_to item,  data: {behavior: "modal"} do %>
      <button type='button', class='btn btn-primary'>
        Ler aqui
      </button>
      <% end %>
      <%= link_to item.url do %>
        <button type='button', class='btn btn-default'>
          Ler na página
        </button>
      <% end %>
    </div>
  </div>
</li>
<% end %>
