<%= content_for :navbar_filters do %>
  <%= render 'application/search', locals: {path: 'items_path'} %>
  <%= render 'application/calendar', locals: {disabled?: false} %>
<% end %>

<%= content_tag_for(:ul, @items, class: 'media-list panel panel-default') do |item| %>
<li class="media panel-body">
  <div class="media-left">
    <% if item.feed && item.feed.favicon %>
      <%= link_to item.feed do %>
        <%= image_tag item.feed.favicon, class: 'media-object', height: '24pt', alt: 'favicon' %>
      <% end %>
    <% end %>
  </div>
  <div class="media-body">
    <h4 class="media-heading item-title">
      <%= raw(item.name) %>
    </h4>
    <h6 class="media-heading item-date">
      <%= item.published_at %>
    </h6>
    <div class="item">
      <%= sanitize item.summary %>
    </div>
  </div>
</li>
<% end %>
