<div class="list-group" >
  <%= link_to new_feed_path, data: {behavior: "modal"}, class: "list-group-item list-group-item-info" do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Feed
  <% end %>
  <%= link_to send(@path, safe_params([:calendar, :search], params)), class: "list-group-item #{filter_active?('all')}" do %>
    <span class="badge">
      <%= human_readable_number @search.count %>
    </span>
    all
  <% end %>
  <% current_user.owned_tags.each do |tag| %>
    <%= link_to send(@path, safe_params([:calendar, :search], {tag: tag.name}, params)), class: "list-group-item #{filter_active?(tag.name)}" do %>
      <span class="badge">
        <%= human_readable_number @search.tagged_with(tag.name).count %>
      </span>
      <%= tag.name %>
    <% end %>
  <% end %>
</div>
