<% if @path == 'items_path' %>
<div class="list-group" id="interactions" >
  <%= link_to items_path(safe_params([:calendar, :search], {favourites: true}, params)), id: "favourites", class: "list-group-item #{filter_active?('favourites')}" do %>
    <span class="glyphicon glyphicon-star"></span>
    Favourites
    <span class="badge">
      <%= human_readable_number @search.favourites(current_user).count %>
    </span>
  <% end %>
  <a href="#" class="list-group-item">
    <span class="glyphicon glyphicon-retweet"></span>
    Shared
    <span class="badge">17</span>
  </a>
  <%= link_to items_path(safe_params([:calendar, :search], {bookmarks: true}, params)), id: "bookmarks", class: "list-group-item #{filter_active?('bookmarks')}" do %>
    <span class="glyphicon glyphicon-bookmark"></span>
    Read Later
    <span class="badge">
        <%= human_readable_number @search.bookmarks(current_user).count %>
    </span>
  <% end %>
  <%= link_to items_path(safe_params([:calendar, :search], {history: true}, params)), id: "history", class: "list-group-item #{filter_active?('history')}" do %>
    <span class="glyphicon glyphicon-repeat"></span>
    History
    <span class="badge">
      <%= human_readable_number @search.history(current_user).count %>
    </span>
  <% end %>
</div>
<% end %>

<div class="list-group" >
  <%= link_to new_feed_path, data: {behavior: "modal"}, class: "list-group-item list-group-item-info" do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Feed
  <% end %>
  <%= link_to send(@path, safe_params([:calendar, :search], params)), class: "list-group-item #{filter_active?('all')}" do %>
    <span class="badge">
      <%= human_readable_number @search.count %>
    </span>
    all
  <% end %>
  <% current_user.owned_tags.each do |tag| %>
    <%= link_to send(@path, safe_params([:calendar, :search], {tag: tag.name}, params)), class: "list-group-item #{filter_active?(tag.name)}" do %>
      <span class="badge">
        <%= human_readable_number @search.tagged_with(tag.name).count %>
      </span>
      <%= tag.name %>
    <% end %>
  <% end %>
</div>
